[{mzbench_api, 
    [
        {network_interface, "0.0.0.0"},
        {listen_port, 8100},
        {cloud_plugins, 
          [
            {ec2,
              #{module => mzb_api_ec2_plugin,
                        instance_spec => [
                          {image_id, "ami-61f11f0c"},
                          {group_set, ""},
                          {key_name, "PerformanceTest"},
                          {subnet_id, "subnet-04d1fe97f9d361d36"},
                          {instance_type, "t2.micro"},
                          {availability_zone, "us-east-1c"}
                        ],
                        config => [
                          {ec2_host, "ec2.amazonaws.com"},
                          {access_key_id, "AKIA354YYT42CLOHAQ7C"},
                          {secret_access_key, "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"}
                         ]
              }
            }
          ]
        }
    ]}
].